<?xml version="1.0" encoding="Windows-1252"?>
<Configuration>
	<KayKitMultiplayer
		MaxMessageSize="512000"
		MaxQueuedDataPerPeer="512000"
		PerPeerMaxReliableDataInTransit="51200"
		PerPeerTransmitRateLimitKBSec="256"
		PerPeerTransmitRatePeriodMilliseconds="200"
		MinimumTimeout="5000"
		MaximumTimeout="30000"
		DisplayName="KayKitMultiplayerServer"
		>
		<!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
		<!-- Port 4530 is Photon's default for TCP connecttions. -->
		<!-- A Policy application is defined in case that policy requests are sent to this listener (known bug of some some flash clients) -->
		<TCPListeners>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4530"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="AccountServer"
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4531"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="ProxyServer"
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4532"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="LobbyServer"				
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4536"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="FinanceServer"				
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4538"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="GameServer"				
				>
			</TCPListener>
			<!-- <TCPListener
				IPAddress="0.0.0.0"
				Port="4546"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="ThirdPartyServer"				
				>
			</TCPListener> -->
			
			<!-- OuterPort -->
			<TCPListener
				IPAddress="0.0.0.0"
				Port="5055"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="AccountServer"
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="5056"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="ProxyServer"
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="5057"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="LobbyServer"				
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="5061"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="FinanceServer"				
				>
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="5063"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="GameServer"				
				>
			</TCPListener>
			<!-- <TCPListener
				IPAddress="0.0.0.0"
				Port="5071"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="10000"
				OverrideApplication="ThirdPartyServer"				
				>
			</TCPListener> -->
		</TCPListeners>

		<!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943)  -->
		<PolicyFileListeners>
			<!-- multiple Listeners allowed for different ports -->
			<PolicyFileListener
			  IPAddress="0.0.0.0"
			  Port="843"
			  PolicyFile="Policy\assets\socket-policy.xml"
			  InactivityTimeout="10000">
			</PolicyFileListener>
			<PolicyFileListener
			  IPAddress="0.0.0.0"
			  Port="943"
			  PolicyFile="Policy\assets\socket-policy-silverlight.xml"
			  InactivityTimeout="10000">
			</PolicyFileListener>
		</PolicyFileListeners>

		<!-- WebSocket (and Flash-Fallback) compatible listener -->
		<WebSocketListeners>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9090"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="AccountServer"
				>
			</WebSocketListener>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9092"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="LobbyServer"
				>
			</WebSocketListener>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9098"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="GameServer"
				>
			</WebSocketListener>
		</WebSocketListeners>

		<!-- Defines the Photon Runtime Assembly to use. -->
		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>

		<!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
		<!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
		<Applications Default="AccountServer">
			<Application
				Name="AccountServer"
				BaseDirectory="KayKitMultiplayerServer"		
				Assembly="KayKitMultiplayerServer"
				Type="KayKitMultiplayerServer.PhotonApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
			<Application
				Name="ProxyServer"
				BaseDirectory="KayKitMultiplayerServer"
				Assembly="KayKitMultiplayerServer"
				Type="KayKitMultiplayerServer.PhotonApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>	
			<Application
				Name="LobbyServer"
				BaseDirectory="KayKitMultiplayerServer"		
				Assembly="KayKitMultiplayerServer"
				Type="KayKitMultiplayerServer.PhotonApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>	
			<Application
				Name="FinanceServer"
				BaseDirectory="KayKitMultiplayerServer"		
				Assembly="KayKitMultiplayerServer"
				Type="KayKitMultiplayerServer.PhotonApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
			<Application
				Name="GameServer"
				BaseDirectory="KayKitMultiplayerServer"		
				Assembly="KayKitMultiplayerServer"
				Type="KayKitMultiplayerServer.PhotonApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
			<!-- <Application
				Name="ThirdPartyServer"
				BaseDirectory="MultiPlayerGameServer"		
				Assembly="MultiPlayerGameServer"
				Type="MultiPlayerGameServer.ServerApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application> -->
			<!--<Application
				Name="HsSBServer1"
				BaseDirectory="SamServer"		
				Assembly="SamServer"
				Type="SamServer.Network.ServerApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
			<Application
				Name="HsThirdPartyServer"
				BaseDirectory="SamServer"		
				Assembly="SamServer"
				Type="SamServer.Network.ServerApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
			<Application
				Name="HsGameControlServer"
				BaseDirectory="SamServer"		
				Assembly="SamServer"
				Type="SamServer.Network.ServerApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application> -->
		</Applications>
	</KayKitMultiplayer>
</Configuration>
